include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include seminary *.css
recursive-include seminary *.csv
recursive-include seminary *.html
recursive-include seminary *.ico
recursive-include seminary *.js
recursive-include seminary *.json
recursive-include seminary *.md
recursive-include seminary *.png
recursive-include seminary *.py
recursive-include seminary *.svg
recursive-include seminary *.txt
recursive-exclude seminary *.pyc