/* Updated codemirror.css - remove @apply and use direct CSS */
.cm-editor {
	user-select: text;
	padding: 0px !important;
	position: relative !important;
}
.cm-gutters {
	border-width: 0;
	background-color: transparent;
	padding-left: 0.375rem; /* px-1.5 */
	padding-right: 0.375rem; /* px-1.5 */
	font-size: 0.75rem; /* text-xs */
	line-height: 1.5rem; /* leading-6 */
	color: #6b7280; /* text-gray-500 */
}
.cm-foldGutter span {
	display: none; /* hidden */
	opacity: 0;
}
.cm-gutterElement {
	text-align: left;
}
.cm-activeLine {
	background-color: transparent;
}
.cm-activeLineGutter {
	background-color: transparent;
	color: #4b5563; /* text-gray-600 */
}
.cm-editor {
	width: 100%;
	user-select: text;
}
.cm-placeholder {
	line-height: 1.5rem; /* leading-6 */
	color: #6b7280; /* text-gray-500 */
}
.cm-scroller {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* font-mono */
	line-height: 1.5rem; /* leading-6 */
	color: #4b5563; /* text-gray-600 */
}
.cm-matchingBracket {
	font-weight: 500 !important;
	background: none !important;
	border-bottom: 1px solid #000 !important;
	outline: none !important;
}
.cm-focused {
	outline: none !important;
}
.cm-tooltip-autocomplete {
	border-radius: 0.5rem; /* rounded-lg */
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / .
		background-color:
	#ffffff;/*bg-surface-white*/
padding:
		;

	border:
none!important;

}

.

cm-tooltip-autocomplete>ul {

font-family:

'Inter'!important;

}

.

cm-tooltip-autocomplete ul li[aria-selected='true'] {

border-radius:

	;

background-color:

rgb(229
,

231
,

235
);

color:#


!important;

}

.

cm-completionLabel {

margin-right:

	!important;

}

.

cm-completionDetail {

margin-left:auto!important;

}

.

inline-expression .cm-content {

padding:

	!important;

line-height:

	!important;

}

.

inline-expression .cm-placeholder {

line-height:

	!important;

}

.

inline-expression .cm-gutters {

line-height:

	!important;

}
