.cm-editor {
	user-select: text;
	padding: 0px !important;
	position: relative !important;
}
.cm-gutters {
	border-width: 0 !important; /* Use regular CSS */
	background-color: transparent !important; /* Instead of @apply */
	padding-left: 0.375rem !important; /* Instead of px-1.5 */
	padding-right: 0.375rem !important; /* Instead of px-1.5 */
	font-size: 0.75rem !important; /* Instead of text-xs */
	line-height: 1.5rem !important; /* Instead of leading-6 */
	color: #6b7280 !important; /* Instead of text-gray-500 */
}

.cm-foldGutter span {
	display: none; /* hidden */
	opacity: 0;
}
.cm-gutterElement {
	text-align: left;
}
.cm-activeLine {
	background-color: transparent;

}
.cm-activeLineGutter {
	background-color: transparent;
	color: #4b5563; /* text-gray-600 */
}
.cm-editor {
	width: 100%;
	user-select: text;
}
.cm-placeholder {
	line-height: 1.5rem; /* leading-6 */
	color: #6b7280; /* text-gray-500 */
}
.cm-scroller {
	font-family: monospace;
	line-height: 1.5rem; /* leading-6 */
	color: #4b5563; /* text-gray-600 */
}
.cm-matchingBracket {
	font-weight: 500 !important;
	background: none !important;
	border-bottom: 1px solid #000 !important;
	outline: none !important;
}
.cm-focused {
	outline: none !important;
}
.cm-tooltip-autocomplete {
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	padding: 0.375rem; /* 1.5 */
	border: none;
}
.cm-tooltip-autocomplete > ul {
	font-family: 'Inter' !important;
}
.cm-tooltip-autocomplete ul li[aria-selected='true'] {
	border-radius: 0.5rem;
	color: #000 !important;
}
.cm-completionLabel {
	margin-right: 1rem !important;
}
.cm-completionDetail {
	margin-left: auto !important;
}
.inline-expression .cm-content {
	padding: 0 !important;
	line-height: 26px !important;
}
.inline-expression .cm-placeholder {
	line-height: 26px !important;
}
.inline-expression .cm-gutters {
	line-height: 26px !important;
}