@import './assets/Inter/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--app-topbar-height: 4rem;
}

#scrollContainer > header.sticky {
	min-height: var(--app-topbar-height);
	display: flex;
	align-items: center;
}
h1 {
  margin-bottom: 1rem;
  font-size: x-large;
  font-weight: 800;
}

h2 {
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 700;
}